<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nr.app"
    android:versionCode="3"
    android:versionName="1.10" >

    <uses-sdk android:minSdkVersion="16" 
        android:targetSdkVersion="17"/>
    
     <supports-screens android:resizeable="true"
                      android:smallScreens="true" 
                      android:normalScreens="true" 
                      android:largeScreens="true"
                      android:anyDensity="true" />
     
    <uses-permission android:name="android.permission.VIBRATE">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <activity android:name="watchlist.FireScreen"
            android:screenOrientation="portrait" 
            android:noHistory="true">
        </activity>
        
        <activity android:name="stockpage.StockPage"
            android:screenOrientation="portrait">
            
        </activity>


        <activity android:name="home.HomeScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
         		 <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>

        <activity android:name="news.WebViewContainer">
        </activity>
        <activity android:name="news.NewsScreen"
            android:screenOrientation="portrait"
            android:noHistory="true">
            
        </activity>
                
    </application>

</manifest>